* {
  box-sizing: border-box;
}

html {
  /* 스크롤 이동을 부드럽게 */
  /* 전체 페이지의 스크롤 (상속 안됨) */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: rgb(110, 103, 103);
  overflow-x: hidden;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;

  /* title들의 애니메이션(왼쪽에서부터 나타남) */
  transform: translateX(-200px);
  transition: 1s;
  opacity: 0;
}

.title.show {
  transform: translateX(0);
  opacity: 1;
}

.title::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background-color: #333;
  margin: 15px auto 0;
}

.img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

/* 버튼과 같이 여러 곳에서 반복 사용되는 요소 */
.btn {
  width: 10px;
  padding: 10px;
  display: block;
  border: 2px solid #333; 
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

}


.btn:hover {
  background-color: #333;
  color: white;
}


/* -------------------------------공통 스타일--------------------------- */




/* ---------------------------------HRADER----------------------------- */
header {
  background-color: white;
  border-bottom: 2px solid darkgrey;

   /* 고정된 헤더 만들기 */
  /* fixed가 되면 width의 기준이 부모 요소가 아니라 뷰포트가 되면서 기준이 끊겨버리고, 내용에 맞춰서 최소한으로 축소됨 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;

}

header .logo img {
  width: 50px;

}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 20px 40px;
  font-weight: 500;
}

header nav ul li a {
  position: relative;
}

header nav ul li a::before {
  content: "";
  display: block;
  width: 0;  /*초기에는 및줄이 없도록 0으로 설정*/
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

header nav ul li a:hover {
  /* 글자에 hover하면 검정색으로 바뀜 */
  color: black;
}

header nav ul li a:hover::before {
  width: 100%;
}

/* ---------------------------------VISUAL------------------------- */
.visual {
  margin-top: 80px;
  width: 100%;
  background-color: ghostwhite;
}

.visual > .inner {
  height: calc(100vh - 40px);
  font-size: 50px;
  display: flex;
  align-items: center;
}

.visual > .inner .info {
  font-size: 30px;

}

/* -------------------------------ABOUT------------------------------- */
.about {
  padding: 150px 0;
}

.about > .inner {
  position: relative;
}

.about .about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about .about__wrapper .about__img {
  width: 40%;
}

.about .about__wrapper .about__img img {
  width: 100%;   /*부모 영역에서 100%로 꽉 차게*/
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1); /*원의 그림자*/
}


.about .about__wrapper .about__text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.about .about__wrapper .about__text .about__info {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 40px 0;
}



.about .about__wrapper .about__text .about__info_text {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
} 

.about .about__wrapper .about__text li {
  line-height: 1.8;
}

.icon_icon {
  font-size: 40px;
}


/* --------------------------------SKILLS--------------------------------- */
.skills {
  padding: 150px 0;
}

.skills .skills__list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 100px 0;
}

/* 하위 선택자가 아닌 자식 선택자 쓴 것에 유의! */
.skills .skills__list > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(100px);

  opacity: 0;
  transition: 1s;
}

.skills.show .skills__list > li {
  transform: translateY(0);

  opacity: 1;
}

.skills .skills__list > li:nth-child(1) { transition-delay: 0.2s; }
.skills .skills__list > li:nth-child(2) { transition-delay: 0.4s; }
.skills .skills__list > li:nth-child(3) { transition-delay: 0.6s; }
.skills .skills__list > li:nth-child(4) { transition-delay: 0.8s; }
.skills .skills__list > li:nth-child(5) { transition-delay: 1s; }


.skills .skills__list li div {
  width: 100px;
  height: 50px;
  background-color: orange;
  opacity: 0.6;
  border-radius: 5px;
  transform: rotate(-20deg);
  transition: 0.5s;
}

.skills .skills__list li:hover div {
  transform: rotate(0deg);
  color: black;
  cursor: pointer;
}

.skills .skills__list li div p {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;

}

.skills .skills__list li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 60px 0 20px;
}


/* -------------------------------PROJECTS--------------------------- */
.projects {
  padding: 150px 0;
}

.projects .port {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  column-gap: 50px;
}

/* 수평 가운데 정렬 */
.projects .port .port__img img {
  width: 100%;
  height: 100%;
}

.projects .port .port__img, 
.projects .port .port__text {   /*둘의 너비를 50%씩 배분*/
  width: 50%;
  height: 400px;
}

.projects .port .port__text {
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 .5rem 0 rgba(68, 68, 68, .4);
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

}

.projects .port .port__text h3 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
  background-color: #f94148;
  border: 1px solid #f94148;
  color: white;
  padding: 4px 18px;
  border-radius: 10px;

  margin-bottom: 30px;
  
}

.projects .port .port__text li {
  line-height: 2;
  font-size: 16px;
}

.projects .port .port__text li span {
  font-weight: bold;
}

/* .projects .port .btn-group {
  /* display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  column-gap: 20px;
} */ */



/* ---------------------------------CONTACT-------------------------------- */
.contact {
  padding: 200px 0;
}

.contact .contact__info li {
  line-height: 2;
  text-align: center;

  /* transform 효과들을 1초동안 천천히 줌 */
  /* 투명함에서 효과 시작 */
  transition: 1s;
  opacity: 0;
}

/* 애니메이션 효과 추가 -- 이메일과 전화번호 */
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px); 
}

.contact .contact__info li:nth-child(2) {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}

.contact.show .contact__info li {
  /* 다시 원래 상태로 돌아옴 */
  transform: translateX(0);
  /* 색 표시됨 */
  opacity: 1;
}

/* sns 이미지들 위치 */
.contact .contact__sns {
  margin-top: 20px;
}

/* sns 이미지들의 크기 조정 */
.contact .contact__sns ul li img {
  width: 40px;
}

/* sns 이미지들의 원래 위치치 */
.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* sns 이미지들 애니메이션 효과 */
.contact .contact__sns ul li {
  /* 아래 100px에서 위로 올라옴옴 */
  transform: translateY(100px);
  
    transition: 1s;
    opacity: 0;
}

.contact.show .contact__sns ul li {
  transform: translateY(0);
  opacity: 1;
}


/* --------------------------------FOOTER------------------------------ */
footer {
  background-color: #000;
  color: white;
}

footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 300px;
  
}

/* -----------------------------------SCROLL TO TOP------------------------- */
#to-top {
  width: 45px;
  height: 45px;
  
  border: 3px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 9;
  transition: 0.5s;
  /* 처음 상태는 투명에 x축으로 +100px 지점 */
  opacity: 0;
  transform: translateX(100px);
}

#to-top span {
  /* 블록으로 바꿔줘야 아래 여백이 안생김 */
  display: block;
}








