* {
  box-sizing: border-box;
}

body {
  font-family: "Noto sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(110, 103, 103);
  overflow-x: hidden;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: white;
  border-bottom: 2px solid darkgrey;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;

}

header .logo img {
  width: 50px;

}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 20px 40px;
  font-weight: 500;
}

header nav ul li a {
  position: relative;
}

header nav ul li a::before {
  content: "";
  display: block;
  width: 0;  /*초기에는 및줄이 없도록 0으로 설정*/
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

header nav ul li a:hover {
  /* 글자에 hover하면 검정색으로 바뀜 */
  color: black;
}

header nav ul li a:hover::before {
  width: 100%;
}

/* VISUAL */
.visual {
  margin-top: 80px;
  width: 100%;
  background-color: lightgoldenrodyellow;
}

.visual > .inner {
  height: calc(100vh - 40px);
  font-size: 50px;
  display: flex;
  align-items: center;
}

.visual > .inner .info {
  font-size: 30px;

}